.custom-span {
    display: block;
    color: var(--default-text-clr);
    background-color: var(--light-brown-clr);
    height: fit-content;
    padding: .1rem .8rem;
    border-radius:   50px;
    font-size: 1.1rem;  
}