.course {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    gap: 30px;
    background-color: #E9E9E9;
    padding: 1.9rem 1.9rem 3rem 1.9rem;
    position: relative;
    border-radius: 5px;


    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: rgba(145, 123, 90 , .3);
        transform: scaleY(0);
        transition: transform 300ms ease-in-out;
        transform-origin: 100% 100%;
        
    }


    .iconContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding:  .7rem;
        border: none;
        width: 100%;
        height: 400px;
        border-radius: 1rem;
        background-color: var(--light-brown-clr);
        overflow: hidden;
        transform: translateY(-1rem);
        transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -webkit-box-shadow: 0px 0px 37px 0px rgba(212, 181, 78, 1);
        -moz-box-shadow: 0px 0px 37px 0px rgba(212, 181, 78, 1);
        box-shadow: 0px 0px 37px 0px var(--light-brown-clr);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem;
            transform: scale(1.1);
            transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

            &:hover {
                transform: scale(1.2) rotateZ(5deg);
            }
        }


        .icon {
            font-size: 50px;
            color: var(--default-text-clr);
        }
    }

    .courseTitle {
        font-size: 25px;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        color: var(--header-text-clr);
        text-transform: capitalize;
        line-height: 2;
    }
    
    .demo-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        button {
            color: var(--light-brown-clr);
            font-size: 2rem;
            position: relative;
            right: 2rem;

            &:has(.expand-button:not(:checked)) {

                .collapse {
                    display: none;
                }
            }
            &:has(.expand-button:checked) {

                .expand {
                    display: none;
                }
            }

            .expand, .collapse {
                position: absolute;
            }
        }
    }

    .courseIntro {
        --max-lines: 5;
        --line-height: 1.7;
        font-family: "Open sans", sans-serif;
        opacity: .5;
        letter-spacing: .2px;
        font-size: 1.2rem;
        line-height: var(--line-height);
        height: calc(var(--max-lines) * 1rem * var(--line-height));
        overflow: hidden;
        position: relative;
        transition: all .5s ease;

        &:has(+ button .expand-button:not(:checked))::before {
            content: '';
            position: absolute;
            height: calc(1rem * var(--line-height));
            width: 100%;
            bottom: 0;
            pointer-events: none;
        }
        
    }

    .expand-button {
        appearance: none;
        padding: 1rem;
        border-radius: .25rem;
        cursor: pointer;
        opacity: .5;
        font-family: "Open sans", sans-serif;
        position: absolute;
        
        &:hover {
            background-color: rgba(145, 123, 90 , .3);
        }

    }


    @media screen and (max-width: 385px) {
        padding: 1.5rem .1rem;
        
        .iconContainer {
           
    
    
            .icon {
                font-size: 40px;
            }
        }
    
        .courseTitle {
            font-size: 20px;
            padding: 1rem;
        }
        
        .courseIntro {
            font-size: 1rem;
            padding: 1rem;
        }
    
    }
}