.testimonial-card-container {
    max-width: 80%;
    height: auto;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 50px 50px 30px 30px;
    border: 3px solid var(--header-text-clr);
    border-radius: 30% 10% ;
    background-color: rgb(145, 123, 90, .1);
    z-index: 10000;

    .testimonial-card-img {
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;

        }
    }

    .testimonial-card {
        width: auto;
        height: auto;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        div {
            margin-bottom: 30px;
                
            h3 {
                font-size: 32px;
                font-family: 'Montserrat', sans-serif;
                text-transform: capitalize;
                font-weight: 500;
                margin-bottom: 10px;
                color: var(--header-text-clr);
            }

            span {
                font-size: 1rem;
                text-transform: uppercase;
                font-family: 'Montserrat', sans-serif;
                opacity: .5;
            }
        }

        p {
            font-family:'Amiri', "Open sans", sans-serif;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            text-justify: distribute-all-lines;
            opacity: .5;
        }

    }

    // @media screen and (max-width: 800px) {
    //     padding: 30px 40px 10px 10px;
    //     max-width: 90%;


    //     .testimonial-card {

    //         p {
    //             text-align: justify;
    //         }
    //     }
        
    // }

    @media screen and (max-width: 800px) {
        padding: 30px 5px 10px 5px;
        border: none;
        border-radius: 1rem;
        box-shadow: 1px 1px 10px ;
        position: relative;
        z-index: 100;
        perspective: 100;
        transform: translateZ(50px);
        //background-color: white;

        &::before {
            content: '';
            position: absolute;
            //top: 0;
            //bottom: 0;
            //right: 0;
            //left: 0;
            z-index: -100;
            transform: translateZ(-50px);
            //scale: 1.01;
            border-radius: inherit;
            inset: -.5rem;
            //height: 100%;
            //width: 100%;
            background: linear-gradient(-45deg,  var(--light-brown-clr),transparent, transparent, transparent,transparent,transparent, var( --header-text-clr));
            //background-color: red;
        }

        .testimonial-card-img {
            width: 150px;
            height: 150px;
        }
    
        .testimonial-card {
            padding: 10px;
    
            div {
                margin-bottom: 30px;
                    
                h3 {
                    font-size: 28px;
                }
            }
    
            p {
                font-size: 1rem;
                text-align: justify;
                margin: 0px auto;
            }
    
        }
        
    }
}