.successful {
    width: auto;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        color: var(--header-text-clr);
        margin-bottom: 1rem;
        text-align: center;
    }

    p {
        font-size: 2rem;
        opacity: .7;
        text-align: center;
        line-height: 2;
        text-transform: capitalize;
    }

}