.testimonial-container {
  position: relative;
  height: 50%;
  margin-bottom: 200px;
  padding: 0 30px;
  width: auto;


  .testimonial-header {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    white-space: nowrap;
    color: var(--header-text-clr);
    text-align: center;
  }

  .testimonial-description {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 60px;
    font-size: 25px;
    text-align: center;
    opacity: .5;
  }




  .swiper {
    width: 80%;
    height: 50%;

    
  }

  .mySwiper2 {
    height: 50%;
    width: 80%;
  }

  .mySwiper {
    height: auto;
    width: 40%;
    box-sizing: border-box;
    padding: 10px 0;
    cursor: pointer;


    .swiper-slide {
      width: 150px;
      height: 80px;
      opacity: 0.4;
      border-radius: 100%;
      overflow: hidden;
      //border: 5px solid black;

      img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    .swiper-slide-thumb-active {
      opacity: 1;
    }
  }

  @media screen and (max-width: 1200px) {
    .mySwiper2 {
      height: 50%;
      width: auto;
    }
  }

  @media screen and (max-width: 600px) {
    padding: 0 10px;
 
    
    .mySwiper {
      width: 60%;
  
  
      .swiper-slide {
        width: 150px;
        height: 80px;
      }
    }
  }

  @media screen and (max-width: 400px) {
    padding: 0 0;

    .testimonial-header {
      font-size: 30px;
    }
  
    .testimonial-description {
      font-size: 20px;
      text-align: center;
    }

    .mySwiper {
      width: 80%;
  
  
      .swiper-slide {
        width: 150px;
        height: 80px;
        
      }


      .swiper-slide-thumb-active {
        opacity: 1;
      }
    }
  }
}



