$sub-color: rgba(0, 0, 0, .5);
$main-color: black;

@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: $main-color;
}

.group {
  position: relative;
  margin: 45px auto;
  cursor: pointer;
  height: 2rem;
  

  .form-input {
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    margin: 25px 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  input[type='file'] {
    
  }

  input[type='checkbox'], input[type='radio'] {
    position: absolute;
    top: -35px;
    font-size: 32px;
    width: 25px;
    height: 50px;
    background: var(--light-brown-clr);
    color: var(--light-brown-clr);
    opacity: 0;
    cursor: pointer;
  }

  input[type='checkbox']:checked::before{
    background-color: var(--light-brown-clr);
  }

  .radio-label {
    position: relative;
    left: 40px;
    height: 40px;
    font-size: 1.1rem;
    opacity: .7;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0px;
    height: 25px;
    width: 25px;
    background-color: rgb(145, 123, 90, .2);
    border-radius: 50%;
  }

  &:has(input:checked) {

    .checkmark{
      background-color: var(--light-brown-clr);

      &::after {
        content: "";
        position: absolute;
        height: 10px;
        width: 10px;
        top: 7px;
        left: 8px;
        background-color: #ffc;
        border-radius: 50%;
      }
    }
  } 
}